# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build
dist/
build/
*.tsbuildinfo
.next/
out/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
*.swp
*.swo

*storybook.log
storybook-static
